@font-face {
    font-family: Raleway-Regular;
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Bold;
    src: url("../fonts/Raleway-Bold.ttf");
}

a {
    text-decoration: none;
}

.header_inside {
    display: grid;
    grid-template-rows: 50% 50%;
    min-width: 600px;
    max-width: 1920px;
    height: 117px;
    background-color: #F8F4FC;
    justify-items: center;
}

.container_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 1288px;
    height: 110px;
    margin-top: 1rem;
}

.container_1+ul {
    padding-left: 0px;
}

.container_1 li {
    list-style-type: none;
    margin-right: 1.5rem;
    display: inline-flex;
}

.logo_right>li:nth-child(3) {
    margin-right: 0;
}

.ul_header-iside a {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #354657;
}

.logof img {
    width: 100%;
}

.container_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    width: 80rem;
    height: 110px;
}

.container_2 a {
    font-family: Raleway-Regular;
    color: #626262;
    font-size: 14px;
}

.container_2 a:hover {
    text-decoration: underline;
}

.logo_home {
    margin-right: 1rem;
}

.strelka {
    margin-right: 1rem;
    color: #626262;
}

.page1 {
    margin-right: 1rem;
}

.main1 {
    display: flex;
    min-width: 600px;
    max-width: 1920px;
    justify-content: center;
}

.main {
    display: flex;
    min-width: 600px;
    max-width: 1920px;
    justify-content: center;
}

.zakaz {
    font-family: Raleway-Bold;
    font-size: 30px;
    color: #354657;
    margin-top: 71px;
    margin-bottom: 17.33px;
}

.main>div {
    width: 1288px;
    border-bottom: 1px solid #E2E2E2;
}

.forms {
    display: grid;
    width: 1288px;
    grid-template-columns: 384px 874px;
    grid-template-rows: 113px 113px 113px 113px 113px 113px 113px 113px 113px 113px;
    grid-row: 2/10;
    margin-top: 40px;
    gap: 30px;
}

.forms>div {
    display: flex;
}

.vhod {
    width: 100%;
    height: 100%;
    font-family: Raleway-Bold;
    color: #354657;
    background-color: #F0F2F5;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.vhod>form {
    padding-right: 36px;

}

.vhod label {
    font-family: Raleway-Regular;
    font-size: 16px;
    display: inline-block;
}
.vhod label div{
    padding-left: 27px;
}
input#Vh {
    display: none;
}

input#Vh+label {
    height: 17px;
    width: 17px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}

input#Vh:checked+label {
    background-image: url("../img/Ellipse-10.png");
    background-repeat: no-repeat;
    background-position: center;
}

input#Reg {
    display: none;
}

input#Reg+label {
    height: 17px;
    width: 17px;
    margin-left: 65px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}

input#Reg:checked+label {
    background-image: url("../img/Ellipse-10.png");
    background-repeat: no-repeat;
    background-position: center;
}

.Personal {
    grid-row: 2/10;
    flex-direction: column;
    height: fit-content;
    background-color: #F0F2F5;
}

.Personal input {
    border: 1px solid #B6B6B6;
    border-radius: 3px;
}

.Personal>form {
    font-family: Raleway-Bold;
    color: #354657;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.Personal>form label {
    font-family: Raleway-Regular;
    font-size: 14px;
    color: #354657;
}

.Personal>form input {
    width: 340px;
    height: 38px;
    font-family: Raleway-Regular;
    font-size: 14px;
    color: #ADA8A8;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dostavka {
    width: 100%;
    height: 100%;
    font-family: Raleway-Bold;
    color: #354657;
    background-color: #F0F2F5;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
}

.dostavka label {
    font-family: Raleway-Regular;
    font-size: 16px;
    display: inline-block;
    margin-right: 12rem;
}
.dostavka label div{
    padding-left: 27px;
}
input#dostavka {
    display: none;
}

input#dostavka+label {
    height: 17px;
    width: 17px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}

input#dostavka:checked+label {
    background-image: url("../img/Ellipse-10.png");
    background-repeat: no-repeat;
    background-position: center;
}

input#dostavka1 {
    display: none;
}

input#dostavka1+label {
    height: 17px;
    width: 17px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}

input#dostavka1:checked+label {
    background-image: url("../img/Ellipse-10.png");
    background-repeat: no-repeat;
    background-position: center;
}

input#dostavka2 {
    display: none;
}

input#dostavka2+label {
    height: 17px;
    width: 17px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}

input#dostavka2:checked+label {
    background-image: url("../img/Ellipse-10.png");
    background-repeat: no-repeat;
    background-position: center;
}

.dostavka>form {
    margin-left: 20px;
}

.oplata {
    width: 100%;
    height: 100%;
    font-family: Raleway-Bold;
    color: #354657;
    background-color: #F0F2F5;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
}

.oplata label {
    font-family: Raleway-Regular;
    font-size: 16px;
    display: inline-block;
    margin-right: 12rem;
}
.oplata label div{
    padding-left: 27px;
}

input#oplata {
    display: none;
}

input#oplata+label {
    height: 17px;
    width: 17px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}

input#oplata:checked+label {
    background-image: url("../img/Ellipse-10.png");
    background-repeat: no-repeat;
    background-position: center;
}

input#oplata1 {
    display: none;
}

input#oplata1+label {
    height: 17px;
    width: 17px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}

input#oplata1:checked+label {
    background-image: url("../img/Ellipse-10.png");
    background-repeat: no-repeat;
    background-position: center;
}

input#oplata2 {
    display: none;
}

input#oplata2+label {
    height: 17px;
    width: 17px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}

input#oplata2:checked+label {
    background-image: url("../img/Ellipse-10.png");
    background-repeat: no-repeat;
    background-position: center;
}

.oplata>form {
    margin-left: 20px;
}

.vasha_korsina {
    background-color: #fff;
    height: 23px;
    font-family: Raleway-Bold;
    color: #354657;
    font-size: 20px;
}

.vk_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    font-family: Raleway-Bold;
    color: #354657;
    font-size: 14px;
    background-color: #F0F2F5;
    height: 41px;
    margin-top: -100px;
}

.vk_header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    height: 32.7px;
    margin-top: -185px;
    font-family: Raleway-Regular;
    font-size: 14px;
    color: #354657;
}

#numb {
    display: flex;
}

#numb>img {
    padding-left: 9.53px;
}

#numb>input {
    border: 2px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 3px;
}

.vk_header1>li>input {
    width: 46.47px;
}

.vk_header2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    height: 32.7px;
    margin-top: -185px;
    font-family: Raleway-Bold;
    font-size: 14px;
    color: #354657;
    margin-top: -248px;
}

.price {
    padding-right: 35px;
    padding-left: 35px;
    font-family: Raleway-Regular;
    font-size: 14px;
    color: #354657;
}

.vk_header3 {
    margin-top: -325px;
    width: 338px;
    height: 46px;
    background-color: #FAFAFA;
    display: flex;
    justify-self: end;
}

.vk_header4 {
    margin-top: -411px;
}

.price1 {
    padding-left: 85px;
}

.vk_final {
    display: flex;
    flex-direction: column;
    width: 874px;
    height: 318px;
    margin-top: -465px;
    background: #F0F2F5;
    color: #354657;
}

textarea#Commit {
    width: 834px;
    height: 86px;
    resize: none;
    margin-left: 20px;
    margin-top: 84px;
    border: 1px solid #B6B6B6;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 11px;
    color: #ADA8A8;
    font-family: Raleway-Regular;
    font-size: 14px;
}

.opl {
    margin-top: 20px;
    margin-left: 20px;
    font-family: Raleway-Bold;
    font-size: 20px;
}

.dop {
    margin-top: 21px;
    margin-left: 20px;
    font-family: Raleway-Regular;
    font-size: 14px;
}

.vk_final>form>label {

    font-size: 16px;
}

.vk_final>form {
    margin-left: 20px;
    font-family: Raleway-Regular;
    font-size: 14px;
    margin-top: 13px;
}

.vk_final button {
    Width: 206px;
    Height: 54px;
    border: 0;
    border-radius: 50px;
    background-color: #946FD3;
    font-family: Raleway-Bold;
    font-size: 16px;
    color: white;
    margin-left: 629px;
    margin-top: 10px;
}

footer {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    margin-top: -200px;
    min-width: 600px;
    max-width: 1920px;
}

.footer_inside {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    max-width: 1920px;
    height: 97px;
    justify-items: center;
    font-family: Raleway-Regular;
    font-size: 14px;
    color: #354657;
}

.container_f {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 1288px;
    height: 110px;
}

.container_f+ul {
    padding-left: 0px;
}

.container_f li {
    list-style-type: none;
    margin-right: 1.5rem;
    display: inline-flex;
}

.logo_right>li:nth-child(3) {
    margin-right: 0;
}

.ul_footer-iside {
    margin-left: -379px;
}

.ul_footer-iside a {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #354657;
}

.logof img {
    width: 100%;
}

.logo_f-right>li>a>img {
    margin-right: -15px;
}