@font-face {
    font-family: MyriadPro;
    src: url("/fonts/MYRIADPRO-REGULAR.OTF");
}
div li{
    font-family: MyriadPro;
}
#Ramda{
    width: 80%;
    margin-bottom: 18px;
    border-top-width: 0px;
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
    font-size: 300%;
}
#Ramda > a{
    text-decoration: none;
    color: black;
}
.colortext{
    color:#4bcaff;
}
#header{
    width: 80%;
}
.header{
    width: 100%;
    background-color: #35444f;
    color: white;
    overflow: auto;
    padding: 0;
    text-align: center;
}
.header > li{
    transition: all.5s;
}
.headerli1{
    height: 55px;
    display: inline-block;
    float: left;  
    width: 35%;
    text-align: center;
}
.headerli2{
    height: 55px;
    display: inline-block;
    float: left;  
    width: 15%;
    text-align: center;
}
.headerli3{
    height: 55px;
    display: inline-block;
    float: left;  
    width: 20%;
    text-align: center;
}
.headerli4{
    height: 55px;
    display: inline-block;
    float: left;  
    width: 30%;
    text-align: center;
}
.header > li:hover{
    background-color: #222f3a;
}
.header > li > a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 1rem;
    padding-top: 1rem;
    width: 100%;
    padding-right: 0rem;
}
.main{
    width: 80%;
}
#img{
    outline: 1px solid black;
    margin-top: 47px;
    height: 24rem;
    width: 69.09%;
    display: inline-block; 
    margin-left: 3rem;
}
#img > img{
    display: block;
    width: 12rem;
    height: 15rem;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto
}
.nav {
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 25%;
    border: 1px solid black;
    display: inline-block;
    font-size: 1rem;
    float: left;
    margin-top: 47px;
    margin-right: 1rem;
}
.nav_item > a {
    text-decoration: none;
    color:rgb(110, 108, 108);
    display: inline-block;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: all.7s;
    font-family: MyriadPro;
}
.nav_item:hover > a {
    background-color: #DADADB;
    color: black;
    padding-left: 3rem;
}
#text{
    height: 15rem;
    width: 53%;
    display: inline-block;
    margin-left: 24.5rem;
    margin-top: 1rem;
    font-size: 0.85rem;
}
.footer{
    width: 80%;
    background-color: #B4B7BA;
    color: black;
}
.footer > ul{
    padding: 0;
}
.footer1{
    height: 55px;
    display: inline-block;
    float: left;  
    width: 15%;
    text-align: center;
}
.footer2{
    height: 55px;
    display: inline-block;
    float: left;
    width: 15%;
    text-align: center;
}
.footer3{
    height: 55px;
    display: inline-block;
    float: left;  
    width: 15%;
    text-align: center;
}
.footer4{
    height: 55px;
    display: inline-block;
    width: 15%;
    text-align: center;
    float: left;
}
.footer5{
    height: 55px;
    display: inline-block;
    width: 15%;
    text-align: center;
    float: left;
}
.footer > ul > li > a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 1rem;
    padding-top: 1rem;
    width: 100%;
    padding-right: 0rem;
}
.footer > ul > li:hover > a{
    text-decoration: underline;
    color: #3181A6;
}
.footer6{
    display: inline-block;
    width: 25%;
    height: 38px;
    padding-top: 1rem;
    text-align: left;
    font-size: 0.8rem;
}
