.parent {
    display: grid;
    grid-template-columns: 100px 700px;
    grid-template-rows: 200px 400px 200px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 3; 
    border: 3px solid orange;
}
.div2 { 
    grid-area: 2 / 1 / 3 / 2; 
    border: 3px solid orange;
}
.div3 { 
    grid-area: 2 / 2 / 3 / 3; 
    border: 3px solid orange;
}
.div4 { 
    grid-area: 3 / 1 / 4 / 3; 
    border: 3px solid darkblue;
} 
