@font-face {
    font-family: Raleway-Regular;
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Bold;
    src: url("../fonts/Raleway-Bold.ttf");
}

a {
    text-decoration: none;
}

.header_inside {
    display: grid;
    grid-template-rows: 50% 50%;
    min-width: 600px;
    max-width: 1920px;
    height: 117px;
    background-color: #F8F4FC;
    justify-items: center;
}

.container_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 1288px;
    height: 110px;
    margin-top: 1rem;
}

.container_1+ul {
    padding-left: 0px;
}

.container_1 li {
    list-style-type: none;
    margin-right: 1.5rem;
    display: inline-flex;
}

.logo_right>li:nth-child(3) {
    margin-right: 0;
}

.ul_header-iside {
    padding-right: 240px;
}

.ul_header-iside a {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #354657;
}

.logof img {
    width: 100%;
}

.container_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    width: 80rem;
    height: 110px;
}

.container_2 a {
    font-family: Raleway-Regular;
    color: #626262;
    font-size: 14px;
}

.container_2 a:hover {
    text-decoration: underline;
}

.logo_home {
    margin-right: 1rem;
}

.strelka {
    margin-right: 1rem;
    color: #626262;
}

.page1 {
    margin-right: 1rem;
}

main {
    min-width: 600px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    background-image: url("../img/flower1.png");
    background-repeat: no-repeat;
    background-position: 104.5rem;
}

.contact {
    margin-top: 71px;
    width: 1288px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
    font-family: Raleway-Bold;
    font-size: 30px;
    color: #354657;
}

.boxes {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.box-left {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
    width: 384px;
    height: 441px;
    background-color: #F0F2F5;
}

.button {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.button button {
    width: 338px;
    height: 54px;
    background-color: #946FD3;
    border-radius: 50px;
    border: 0;
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #FFFFFF;
}

.location, .phone, .mail {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 61px;
    height: 61px;
    border: 2px solid #D6D9DE;
    border-radius: 50% 50%;
    margin-left: 22px;
    margin-top: 30px;
}

.location img {
    margin-left: 19.98px;
    margin-top: 18px;
}

.location1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 17px;
    margin-top: 30px;
}

.location1-1 {
    font-family: Raleway-Bold;
    font-size: 20px;
    color: #354657;
    margin-bottom: 5px;
}

.location1-2 {
    font-family: Raleway-Regular;
    font-size: 16px;
    color: #354657;
}

.phone img {
    margin-left: 18.36px;
    margin-top: 19px;

}

.phone1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 17px;
    margin-top: 30px;
}

.phone1-1 {
    font-family: Raleway-Bold;
    font-size: 20px;
    color: #354657;
    margin-bottom: 5px;
}

.phone1-2 a {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #946FD3 !important;
}

.mail img {
    margin-left: 17px;
    margin-top: 22.16px;

}

.mail1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 17px;
    margin-top: 30px;
}

.mail1-1 {
    font-family: Raleway-Bold;
    font-size: 20px;
    color: #354657;
    margin-bottom: 5px;
}

.mail1-2 a {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #946FD3 !important;
}

footer {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    margin-top: 100px;
    min-width: 600px;
    max-width: 1920px;
}

.footer_inside {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    max-width: 1920px;
    height: 97px;
    justify-items: center;
    font-family: Raleway-Regular;
    font-size: 14px;
    color: #354657;
}

.container_f {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 1288px;
    height: 110px;
}

.container_f+ul {
    padding-left: 0px;
}

.container_f li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-flex;
}

li:nth-child(6) {
    margin-left: 40px;
}

.ul_footer-iside {
    margin-left: -225px;
}

.ul_footer-iside a {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #354657;
}

.logof img {
    width: 100%;
}

.logo_f-right>li>a>img {
    margin-right: -20px;
}