body{
    background-color: #999;
}

.img_slider{
    margin-left: auto;
    margin-right: auto;
    width: 43.8em;
}

.photo{
    width: 700px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4%;
}
