@font-face {
    font-family: Montserrat-ExtraBold;
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face{
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face{
    font-family: Raleway-Regular;
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face{
    font-family: Raleway-Bold;
    src: url("../fonts/Raleway-Bold.ttf");
}
a{
    text-decoration: none;
}
.header{
    min-width: 600px;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
}
.container_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 76rem;
    height: 110px;
}
.logo{
    width: 10%;
    height: 77px;
    margin-left: 0rem;
}
.form{
    width: 60%;
    align-self: center;
}
.form > form > input{
    width: 500px;
    height: 50px;
    margin-left: 2rem;
    font-family: "Montserrat-Medium";
    font-size: 16px;
}
.enter{
    width: 10%;
}
.enter > form > button{
    font-family: "Montserrat-Bold";
    font-size: 16px;
    color: white;
    width: 98px;
    height: 50px;
    border: 0;
    background-color: #EF781A;
    border-radius: 0.3rem;
    margin-left: 4.6rem;
}
.corsina{
    width: 10%;
}
.corsina > form > button{
    font-family: "Montserrat-Bold";
    font-size: 16px;
    color: white;
    width: 98px;
    height: 50px;
    border: 0;
    background-color:#00D008;
    margin-left: 1.55rem;
    border-radius: 0.3rem; 
}
.conteiner_pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 76rem;
    height: 380px;
    background-color: #FFD086;
    margin-top: 35px;
    border-radius: 1rem;
}
.item_pic1{
    width: 50%;
    align-self: center;
    font-family: "Montserrat-ExtraBold";
    font-size: 36px;
    padding-left: 3rem;
}
.item_pic2{
    width: 50%;
}
.item_pic1 > p > span {
    display: inline-block;
    font-family: "Montserrat-Medium";
    font-size: 20px;
    width: 456px;
}
.main{
    min-width: 600px;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
}
.container_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 76rem;
    height: 110px;
}
.restaurant{
    font-family: "Montserrat-Bold";
    font-size: 36px;
}
.search > form > input{
    font-family: "Montserrat-Medium";
    font-size: 16px;
    width: 500px;
    height: 50px;
}
.Restoraunt1{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-template-rows: 0fr 0fr 0fr;
    gap: 20px;
    align-self: center;
}
.header_inside{
    display: grid;
    grid-template-rows: 50% 50%;
    min-width: 600px;
    max-width: 1920px;
    height: 117px;
    background-color: #F8F4FC;
    justify-items: center;
}
.container_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 76rem;
    height: 110px;
    margin-top: 1rem;
}
.container_1 + ul{
    padding-left: 0px;
}
.container_1 li{
    list-style-type: none;
    margin-right: 1.5rem;
    display: inline-flex;
}
.ul_header-iside a {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #354657;
}
.logof img{
    width: 100%;
}
.container_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    width: 76rem;
    height: 110px;
}
.container_2 a{
    font-family: Raleway-Regular;
    color: #626262;
    font-size: 14px;
}
.container_2 a:hover{
    text-decoration: underline;
}
.logo_home{
    margin-right: 1rem;
}
.strelka{
    margin-right: 1rem;
    color: #626262;
}
.page1{
    margin-right: 1rem;  
}
.footer{
    min-width: 600px;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    background-color: #323232;
}
.container_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 76rem;
    height: 100px;
}
.container_footer > ul > li{
    list-style-type: none;
    margin-right: 1.5rem;
}
.container_footer > ul{
    display: inline-flex;
    padding-left: 0px;
}
.container_footer a{
    font-family: Montserrat-Medium;
    color: white;
    font-size: 18px;
}
footer{
    margin-top: 5rem;
}

