@font-face{
    font-family: Rany;
    src: url("../fonts/Rany.otf");
}
div{
    font-family: Rany;
}
a{
    text-decoration: none;
    color: white;
}
body{
    min-width: 600px;
    max-width: 1600px;
}
#body{
    background-image: url(../img/Milan_Holidays.jpg);
    width: 85.5rem;
    height: 48rem;
    display: inline-block;
    margin-right: -76rem;
    margin-bottom: -42rem;
}
.rollover{
    background-image: url(../img/logo@1X.png);
    display: inline-block;
    width: 166px;
    height: 44px;
}
.rollover:hover{
    background-image: url(../img/Logo@1X2.png);
    display: inline-block;
    width: 166px;
    height: 44px;
}
.mail{
    display: inline-block;
    color: white;
    text-align: right;
    margin-left: 43.9rem;
}
.main1{
    display: inline-block;
    width: 19.7%;
    margin-right: -92px;
    margin-bottom: 10px;
    margin-left: 153px;
    margin-top: 36px;
    color: white;
    text-align: center;
}
.main1 img{
    margin-bottom: -4.6rem;
}
.rollover11{
    background-image: none;
    display: inline-block;
    width: 19.25rem;
    height: 70.5px;
}
.rollover11:hover{
    background-image: url(../img/Hover@1X.png);
    display: inline-block;
    width: 19.25rem;
    height: 70.5px;
}
.main1 a:hover{
    color: #F26522;
}
.main2{
    display: inline-block;
    width: 19.7%;
    margin-right: -92px;
    margin-bottom: 10px;
    margin-left: 153px;
    margin-top: 2.4rem;
    color: white;
    text-align: center;
}
.main2 img{
    margin-bottom: -4.6rem;
}
.rollover12{
    background-image: none;
    display: inline-block;
    width: 19.25rem;
    height: 70.5px;
}
.rollover12:hover{
    background-image: url(../img/Hover@1X.png);
    display: inline-block;
    width: 19.25rem;    
    height: 70.5px;
}
.main2 a:hover{
    color: #F26522;
}
footer > div{
    color: white;
    margin-left: 31rem;
    margin-top: 2rem;
    font-size: 14px;
}