@font-face {
    font-family: MyriadPro;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/MyriadPro.ttf");
}
.header{
    width: 750px;
    height: 235px;
    background-color: #2d7053;
    display: inline-block;
}
.header1{
    width: 140px;
    height: 140px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 2rem;
}
.header2 > div {
    border-bottom: .8rem solid rgb(255, 255, 255);
    width: 93px;
    margin-top: 1rem;
    border-radius: 7px;
}
.header2{
    width: 80px;
    display: inline-block;
    margin-left: 27rem;
    margin-top: 5rem;
    padding: 0 0 1rem 0;
}
.header3{
    font-family: MyriadPro;
    font-size: 1.8em;
    color: #ffffff;
    display: inline-block;
    text-align: left;
    margin-left: 10rem;
    margin-top: -9rem;
}
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}
.container img {
    display: inline-block;
    margin-left: 0rem;
    margin-top: -1rem;
}
.container .bottomup {
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: MyriadPro;
    white-space: nowrap;
    background-color: #cb9223;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6em;
    margin-left: 11rem;
    vertical-align: -3rem;
    cursor: pointer;
}
.bottomup:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.foto2{
    width: 247px;
    height: 247px;
    margin-left: 3rem;
    margin-top: 4rem;
    padding-right: 5rem;
}
.main1{
    font-family: MyriadPro;
    font-size: 2.5em;
    text-align: left;
    width: 210px;
    height: 27px;
    color: black;
    display: inline-block;
    vertical-align: 10rem;
}
.main2{
    font-family: MyriadPro;
    text-align: left;
    font-size: 1.6em;
    color: black;
    display: inline-block;
    vertical-align: 6rem;
    margin-left: -18.7rem;
}
.main3{
    font-family: MyriadPro;
    text-align: left;
    font-size: 1.6em;
    color: black;
    width: 650px;
    height: 166px;
    display: inline-block;
    margin-left: -38rem;
    vertical-align: -13rem;
}
.ul{
    font-family: MyriadPro;
    font-size: 2.5em;
    margin-left: -41.0rem;
    display: inline-block;
    vertical-align: -18rem;
  }
ul {
    list-style: none;
    font-family: MyriadPro;
    text-align: left;
    font-size: 1.6em;
    color: black;
}
ul li:before {
    content:  "-";
    position: relative;
    left:     -5px;
}
.bottomdown{
    font-family: MyriadPro;
    background-color: #cb9223;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin-left: 11rem;
    vertical-align: -3rem;
    cursor: pointer;
}
.bottomdown:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.footer{
    width: 750px;
    height: 153px;
    background-color: #888888;
    display: inline-block;
    margin-top: 3rem;
}
.footer1{
    float: left;
    width: 96px;
    height: 96px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin-top: 1.8rem;
    margin-left: 2rem;
  }
.ftext1{
    float: left;
    font-family: MyriadPro;
    font-size: 1.1em;
    text-align: left;
    width: 199px;
    height: 17px;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 7rem;
    margin-left: 12rem;
    margin-right: -5rem;
  }

.ftext23{
    float: left;
    width: 144px;
    display: inline-block;
    margin-top: 4.6rem;
  }

.ftext2{
    font-family: MyriadPro;
    font-size: 1.1em;
    text-align: left;
    width: 199px;
    height: 17px;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 9.5rem;
}
.ftext2 a {
	color: rgb(255, 255, 255);
    font-family: MyriadPro;
    font-size: 1.1em;
    text-decoration: none;
}
.ftext3{
    font-family: MyriadPro;
    font-size: 1.1em;
    text-align: left;
    width: 199px;
    height: 17px;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 9rem;
}
.ftext3 a {
	color: rgb(255, 255, 255);
    font-family: MyriadPro;
    font-size: 1.1em;
    text-decoration: none;
}