@font-face {
    font-family: Raleway-regular;
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-bold;
    src: url("../fonts/Raleway-Bold.ttf");
}

a {
    text-decoration: none;
}

header {
    min-width: 600px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
}

.container_h {
    width: 1288px;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.ul_header-iside {
    margin-top: 14px;
    padding-left: 0rem;
}

.ul_header-iside a {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #354657;
}


.container_h li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-flex;
}

.main_top {
    max-width: 1920px;
    height: 600px;
    background-image: url("../img/background.png");
    display: flex;
    justify-content: center;

}

.main_flex {
    width: 1288px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main_text {
    width: 600px;
    height: 292px;
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-animation: sdvig 6s 1;
    animation: sdvig 6s 1;
    overflow: hidden;
}

@keyframes sdvig {

    from {
        left: -1820px;
    }

    to {
        left: 0;
    }
}

.text1 {
    font-family: Raleway;
    font-size: 48px;
    color: #FFFFFF;
    width: 600px;
    height: 112px;
    line-height: 1.2;
}

.text2 {
    font-family: Raleway-regular;
    font-size: 24px;
    color: #FFFFFF;
    width: 600px;
    height: 56px;
    margin-top: 30px;

}

#but1 {
    border: 0;
    width: 206px;
    height: 54px;
    border-radius: 50px;
    background-color: #946FD3;
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 40px;
}

.main_middle {
    max-width: 1920px;
    height: 269px;
    background-image: url("../img/backgd-middle.png");
    display: flex;
    justify-content: center;
}

.middle_flex {
    width: 1288px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.middle_text {
    width: 600px;
    height: 190px;
    display: flex;
    flex-direction: column;
    margin-left: 385px;
    margin-top: -20px;
}

.middle_text1 {
    font-family: Raleway-Bold;
    font-size: 20px;
    color: #946FD3;
    width: 508px;
    height: 23px;
}

.middle_text2 {
    font-family: Raleway-Bold;
    font-size: 38px;
    color: #354657;
    width: 637px;
    height: 110px;
    margin-top: 5px;
}

#middle_but1 {
    border: 0;
    width: 206px;
    height: 54px;
    border-radius: 50px;
    background-color: #946FD3;
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 18px;
}

.bottle1, .bottle2 {
    position: absolute;
}

.bottle1 {
    margin-left: -1024px;
    margin-top: 100px;
    animation: rotating 10s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.bottle2 {
    margin-left: -720px;
    margin-bottom: 14px;
    animation: rotating1 10s linear infinite;
}

@keyframes rotating1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main_cards {
    width: 1920px;
}

.main_cards>div {
    font-family: Raleway-Bold;
    font-size: 36px;
    color: #354657;
    text-align: center;
    margin-top: 60px;
}

.col-sm {
    width: 410px;
    height: 513px;
}

.card {
    border: none;
    background-color: #ffffff;
    color: #354657;
    transition: all 3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.card:hover {
    background-color: #946FD3;
    color: #ffffff;
    transform: rotateY(360deg);

}

.card-title {
    font-family: Raleway-Bold;
    font-size: 24px;
    text-align: justify;
}

.card-text {
    font-family: Raleway-regular;
    font-size: 16px;
    text-align: justify;
}

.btn {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #946FD3;
}

#end_but1 {
    border: 0;
    width: 206px;
    height: 54px;
    border: 2px solid #946FD3;
    border-radius: 50px;
    background-color: #ffff;
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #946FD3;
    margin-top: 10px;
    margin-left: -179px;
}

#end_but1:hover {
    border: 2px solid #ffffff;
    border-radius: 50px;
    background-color: #946FD3;
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #ffffff;

}

footer {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    margin-top: 100px;
    min-width: 600px;
    max-width: 1920px;
    display: flex;
    justify-content: center;

}

.container_f {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1288px;
    height: 110px;
}

.ul_footer-iside {
    margin-top: 14px;
    padding-left: 0rem;
    margin-left: -295px;
}

.logo_f-right {
    margin-top: 14px;
}

.container_f li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-flex;
}

.ul_footer-iside a {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #354657;
}

.logof img {
    width: 100%;
}

.logo_f-right>li>a>img {
    margin-right: -20px;
}